<h1>評価を入力する！</h1>
<%= form_tag '/evals', method: :post do |b| %>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <tr>
          <th>
          </th>
          <% @opp_pokes.each do |o| %>
            <th>
              <%= image_tag PokeData.imgpath_from_name(o.name) %>
            </th>
          <% end %>
        </tr>
        <% @my_pokes.each_with_index do |m, i| %>
          <tr>
            <th>
              <%= image_tag PokeData.imgpath_from_name(m.name) %>
            </th>
            <% @opp_pokes.each_with_index do |o, j| %>
              <%= fields_for "evals[]", @battle.evals[i * 3 + j] do |e| %>
                <td>
                  <%= e.hidden_field :my_poke_id, value: m.id %>
                  <%= e.hidden_field :opp_poke_id, value: o.id %>
                  <%= e.select :eval, options_for_select(@choices, selected: 0), {}, class: "form-control" %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>コメント</h2>
    </div>
    <div class="col-xs-6">
      <% @my_pokes.each_with_index do |m, i| %>
        <%= fields_for "battle_my_pokes[]", @battle_my_pokes[i] do |bm| %>
          <div class="form-group">
            <%= bm.label :comment, image_tag(PokeData.imgpath_from_name(m.name)), {class: "control-label"} %>
            <%= bm.text_field :comment, class: "form-control" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <% @opp_pokes.each_with_index do |o, i| %>
        <%= fields_for "battle_opp_pokes[]", @battle_opp_pokes[i] do |om| %>
          <div class="form-group">
            <%= om.label :comment, image_tag(PokeData.imgpath_from_name(o.name)), {class: "control-label"} %>
            <%= om.text_field :comment, class: "form-control" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= submit_tag "評価を確定する", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
